//text variables
$text-grey: #333;  // Text Primary
$text-black: #444;  // Alt Text Primary

//color codes
$dark: #222;
$alt-dark: #212529;
$black: #151515;
$white: #fff;
$orange: #FF8C00; //Error color


//Shadows
$shadow: 0.1rem 0.2rem 2rem #ddd;
$cursiveFont: 'Corinthia', cursive;